<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated plccode -->
      <package
            uri="platform:/plugin/org.emftext.language.plccode/metamodel/plccode.ecore"
            class="plccode.PlccodePackage"
            genModel="metamodel/plccode.genmodel"/>
   </extension>

</plugin>
